<!-- top menu notice -->
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
    <ul class="dropdown-menu alert-dropdown">
        <li>
            <a href="#">38번 도로 <span class="label label-success">양호</span></a>
        </li>
        <li>
            <a href="#">97번 도로 <span class="label label-warning">주의</span></a>
        </li>
        <li>
            <a href="#">13번 도로 <span class="label label-danger">위험</span></a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">모두 보기</a>
        </li>
    </ul>
</li>
