<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="/"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <li>
            <a href="/realtimechart"><i class="fa fa-fw fa-bar-chart-o"></i> 실시간 현황</a>
        </li>
        <li>
            <a href="/datatable"><i class="fa fa-fw fa-table"></i> 산사태 예측정보</a>
        </li>
        <li>
            <a href="/manual"><i class="fa fa-fw fa-file"></i> 사용 방법</a>
        </li>
    </ul>
</div>
