<!-- data talbe body main -->

<div id="page-wrapper">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">
              정보 <small>도로별 정보</small>
          </h1>
          <ol class="breadcrumb">
              <li class="active">
                  <i class="fa fa-road"></i> 정보
              </li>
          </ol>
      </div>

<div class="col-lg-12">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          도로별 정보
                      </div>
                      <!-- /.panel-heading -->
                      <div class="panel-body">
                          <div class="table-responsive">
                              <table class="table">
                                  <thead>
                                      <tr>
                                          <th>#</th>
                                          <th>노선 명</th>
                                          <th>노선 번호</th>
                                          <th>날짜</th>
                                          <th>시간</th>
                                          <th>등급</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr class="success">
                                          <td>1</td>
                                          <td>경부선</td>
                                          <td>001호</td>
                                          <td>2016-05-11</td>
                                          <td>3:00 PM</td>
                                          <td><span class="label label-success">양호</span></td>
                                      </tr>
                                      <tr class="warning">
                                          <td>1</td>
                                          <td>경부선</td>
                                          <td>001호</td>
                                          <td>2016-05-11</td>
                                          <td>3:00 PM</td>
                                          <td><span class="label label-warning">주의</span></td>
                                      </tr>
                                      <tr class="success">
                                          <td>1</td>
                                          <td>경부선</td>
                                          <td>001호</td>
                                          <td>2016-05-11</td>
                                          <td>3:00 PM</td>
                                          <td><span class="label label-success">양호</span></td>
                                      </tr>
                                      <tr class="danger">
                                          <td>1</td>
                                          <td>경부선</td>
                                          <td>001호</td>
                                          <td>2016-05-11</td>
                                          <td>3:00 PM</td>
                                          <td><span class="label label-danger">위험</span></td>
                                      </tr>
                                      <tr class="success">
                                          <td>1</td>
                                          <td>경부선</td>
                                          <td>001호</td>
                                          <td>2016-05-11</td>
                                          <td>3:00 PM</td>
                                          <td><span class="label label-success">양호</span></td>
                                      </tr>
                                      <tr class="danger">
                                          <td>1</td>
                                          <td>경부선</td>
                                          <td>001호</td>
                                          <td>2016-05-11</td>
                                          <td>3:00 PM</td>
                                          <td><span class="label label-danger">위험</span></td>
                                      </tr>
                                      <tr class="success">
                                          <td>1</td>
                                          <td>경부선</td>
                                          <td>001호</td>
                                          <td>2016-05-11</td>
                                          <td>3:00 PM</td>
                                          <td><span class="label label-success">양호</span></td>
                                      </tr>
                                      <tr class="success">
                                          <td>1</td>
                                          <td>경부선</td>
                                          <td>001호</td>
                                          <td>2016-05-11</td>
                                          <td>3:00 PM</td>
                                          <td><span class="label label-success">양호</span></td>
                                      </tr>
                                      <tr class="warning">
                                          <td>1</td>
                                          <td>경부선</td>
                                          <td>001호</td>
                                          <td>2016-05-11</td>
                                          <td>3:00 PM</td>
                                          <td><span class="label label-warning">주의</span></td>
                                      </tr>
                                      <tr class="success">
                                          <td>1</td>
                                          <td>경부선</td>
                                          <td>001호</td>
                                          <td>2016-05-11</td>
                                          <td>3:00 PM</td>
                                          <td><span class="label label-success">양호</span></td>
                                      </tr>
                                      <tr class="warning">
                                          <td>1</td>
                                          <td>경부선</td>
                                          <td>001호</td>
                                          <td>2016-05-11</td>
                                          <td>3:00 PM</td>
                                          <td><span class="label label-warning">주의</span></td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                          <!-- /.table-responsive -->
                      </div>
                      <!-- /.panel-body -->
                  </div>
                  <!-- /.panel -->
              </div>
              </div>
</div>
